*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*----------CUSTOMISED COLOURS----------*/

.bg-color{
  background: #dbefff;
}

.counter-color{
  background-color: #351F39;
}

.button-color{
  background-color: #726A95;
}

/*----------BUTTONS----------*/

.shape-minus{ /*NB--> Desktop shapes of the buttons are defined within the media queries section!*/
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 45%;
}

.shape-plus{ /*NB--> Desktop shapes of the buttons are defined within the media queries section!*/
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
}

.operands-text{
  font-size: 50px;
  color: white;
}

.counter-text{
  font-size: 75px;
  font-weight: 900;
  color: white;
}

.btna {
  text-decoration: none;
  border: none;
  padding: 12px 40px;
  color: #fff;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

/* Adding transformation when the button is active */
.btna:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.show-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  width: 250px;
  height: 50px;
  background: #726A95;
  color: #ffe7ff;
  cursor: pointer;
  font-size: 30px;
  transition: 0.1s linear;
  box-shadow: 0px 5px 16px -2px #000000;
}

.show-functions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 250px;
  height: 50px;
  cursor: pointer;
  font-size: 30px;
}


/*----------MEDIA QUERIES----------*/


/* Up to 576px width is 100% */
@media screen and (max-width: 576px) {
  .mobile-width {
    width: 100%;
  }
}

/* Above 576px width is 50% */
@media screen and (min-width: 576px) {
  .desktop-width {
    width: 50%;
  }

}

/* Above 768px there are new shapes for the bottons.*/
@media screen and (min-width: 768px) {  
 
  .shape-minus{
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 0%;
  }
  
  .shape-plus{
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    border-top-left-radius: 0%;
  }

  .desktop-height {
    height: 50%;
  }

  .functions-buttons-position{
    bottom: 0px;
  }

}

/* Up to 768px */
@media screen and (max-width: 768px) {  
 
  .functions-buttons-position{
    bottom: -40px;
  }

}