*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mine-bg-color{
  background: #dbefff;
}

.bar-color{
  background-color: #351F39;
}

.barra{
  border: 1px solid black;
  border-radius: 50px ;
  background-color: grey;
}

.colore{
background-color: black;
}